fastapi==0.116.2
uvicorn==0.35.0
langchain==0.3.27
langchain-openai==0.3.35
langchain-community==0.3.29
langchain-tavily==0.2.12
faiss-cpu==1.12.0
pypdf==4.3.1
tiktoken==0.11.0
python-dotenv==1.1.1
uvicorn==0.35.0
python-multipart==0.0.20
